* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #0d47a1;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

label {
  margin-right: 1rem;
}

button[type="submit"] {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0d47a1;
}

#password-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#password {
  flex-grow: 1;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 1rem;
}

#copy-password {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#copy-password:hover {
  background-color: #0d47a1;
}
#password-strength-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#password-strength-container p {
  margin-right: 1rem;
}

#password-strength-indicator {
  display: flex;
  flex-direction: row;
}

#password-strength-indicator div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

#weak {
  background-color: #ff3d00;
}

#moderate {
  background-color: #ffc400;
}

#strong {
  background-color: #4caf50;
}

#very-strong {
  background-color: #2196f3;
}
